html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Roboto, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  background: var(--accent-color);
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

:root {
  --main-color: #79DAE8;
  --main-dark-color: #0AA1DD;
  --accent-color: #fafafa;
}