.container,
.content,
.toolbar,
.profile,
.contacts,
.contactList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 0;
    height: calc(100vh - 3rem);
    overflow: scroll;
}

.content,
.profile,
.contacts {
    padding: 1rem;
}

.appbar {
    top: 0;
    background-color: #79DAE8;
    height: 3rem;
}

.toolbar {
    background-color: #79DAE8;
}

.uname,
.email,
.bio {
    font-style: italic;
    font-weight: 100;
    color: darkgrey;
    font-family: 'Comfortaa', cursive;
    margin-top: -2rem;
    margin-left: 16rem;
}

.email,
.bio {
    color: gainsboro;
    margin: 12px auto;
    width: fit-content;
}

.bio {
    margin: 0 auto;
}

.coverPicPaper {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    position: relative;
}

.coverPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.appbarProfile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.avatar,
.listAvatar,
.appbarAvatar {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6rem;
    margin-left: 3rem;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.listAvatar {
    width: 5rem;
    height: 5rem;
    margin: 0;
}

.appbarAvatar {
    margin: 0;
    width: 3rem;
    height: 3rem;
}

.profilePic {
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px -10px 10px -10px;
}

.profile,
.contacts {
    display: block;
}

.stack,
.hist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-inline: auto;
    color: gray;
}

.hist {
    width: fit-content;
    margin: 0;
    color: darkgray;
}

@media only screen and (max-width:400px) {

    .listAvatar {
        width: 4rem;
        height: 4rem;
    }
}