.main {
    background-image: url(../assets/backgroundImages/signupPage.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    overflow: hidden;
}

.title {
    color: var(--accent-color);
    font-size: 3rem;
}

.container {
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
}

.submit {
    padding-block: 8px;
    border-radius: 1em;
    margin: auto;
    width: 100%;
    background-color: #0070f399;
    color: var(--accent-color);
    font-size: 1rem;
}

.signup {
    text-align: center;
    padding: 4rem 2rem;
    color: var(--accent-color);
    background-color: #ffffff01;
    backdrop-filter: blur(10px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.label {
    margin-bottom: 3rem;
    text-align: left;
}

.inputLabel {
    display: block;
    text-align: left;
}

.input {
    background-color: transparent;
    min-width: 16rem;
    font-size: 1.3rem;
    padding: 6px;
    margin: 1rem auto;
}

.link {
    color: var(--accent-color);
    text-decoration: none;
    display: block;
    margin-top: 3rem;
    text-align: center;
}

.link:hover,
.link:focus,
.link:active {
    text-decoration: underline;
}

.heroImage {
    margin: 0;
}

.line,
.arrow {
    display: none;
}

@media only screen and (max-width: 600px) {
    .container {
        display: block;
        padding: 1rem;
    }

    .main {
        height: 100%;
    }

    .line {
        margin-top: 2rem;
        width: 2rem;
    }

    .arrow,
    .line {
        display: block;
        color: var(--accent-color);
        margin: auto;
    }

}